<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete</title>
    <style>
        label, input, h1{
            margin: 0 0 0 20px;
        }
        button{
            width: 10em;
        }
    </style>
</head>

<body>
<h1>confirm delete figure</h1>
<form method="post" th:object="${figrure}" th:action="@{/delete/{id}(id = ${figure.id})}">
    <label>code</label><br>
    <input type="text" th:field="${figure.code}" placeholder="code" style="margin-bottom: 10px"><br>
    <label>name</label><br>
    <input type="text" th:field="${figure.name}" placeholder="name" style="margin-bottom: 10px"><br>
    <label>price</label><br>
    <input type="text" th:field="${figure.price}"  placeholder="price" style="margin-bottom: 10px;"><br>
    <label>des</label><br>
    <input type="text" th:field="${figure.des}" placeholder="des" style="margin-bottom:10px ;"><br>

    <button type="submit" th:formaction="@{/delete/cancel}" style="margin:10px 10px 10px 60px;">
        back
    </button>
    <button type="submit" style="margin:10px 10px 10px 60px;">
        delete
    </button>
</form>


</body>

</html>